page-inicio {

    ion-content {
        background: rgb(86, 133, 194) !important;
    }

    h1 {
        padding-top: 150px;
        font-size: 40px;
        color: white;
    }

    p {
        color: white;
    }
}
